body {
  font-family: 'Lato', sans-serif;
}
p, a {
  font-size: 0.9em;
}
 h1, h2 {
   font-size: 1.3em;
   font-weight: 800;
 }
li {
  font-style: 1.1em;
  line-height: 2.3em;
}
.right-header {
  text-align: right;
}
p.info {
  text-align: justify;
}
article h1 {
  text-align: center;
}
