<header class="logo">
  <div class="title">
    <h2 class="fa fa-bars left-header"></h2>
    <h2 class="right-header">CrossFit</h2>
  </div>
  <nav>
    <ul class="drop-down">
      <li><a href="#">About</a></li>
      <li><a href="#">Nutrition</a></li>
      <li class="dropdown-location">
        <a href="#" ng-init="is_active=false" ng-click="is_active=!is_active">
          <i class="fa" ng-class="{'fa-caret-right' : !is_active, 'fa-caret-down' : is_active}">
          </i>
          Exercises and Demos
        </a>
      </li>
        <ul class="dropdown-location-inner" ng-class="{'drop-down-active': is_active}">
          <li><a href="#">item 1</a></li>
          <li><a href="#">item 2</a></li>
          <li><a href="#">item 3</a></li>
        </ul>
      <li><a href="https://map.crossfit.com/" target="_blank">Find locations</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </nav>
</header>
<!-- ///fa-times -->
