<article class='article'>
<form class='filtering'>
  <input type='text' name="search-article" ng-model='search' placeholder='Search'>
</form>
  <section ng-repeat='article in articles | filter:search' class="repeted-articles">
    <!-- <span>{{article.date | amParse:'YYYY.MM.DD HH:mm:ss'}}</span> -->
    <p class="time"><strong>{{ article.date | amDateFormat: 'MM-DD-YYYY' }}</strong></p>
    <h1 class="title">{{article.title}}</h1>
      <p class='info' ng-repeat='line in article.info track by $index'>
          {{line}}
      </p>
      <img ng-src='{{article.imgSrc}}' alt='{{article.title}}' />
      <p>
        '{{article.title}}' at [ <a ng-href='{{article.videoScr}}'>video</a> ]
      </p>
      <p class='disclamer'>
        Posted by <em>{{article.author}}</em> on {{article.date | amDateFormat: 'MMMM Do YYYY, h:mm a'}}
    </p>
  </section>
</article>
